body {
  margin: 0;
  font-family: sans-serif;
  background: #fafafa;
}

.app {
  max-width: 400px;
  margin: auto;
}

.header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.post {
  background: white;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.image {
  height: 250px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 10px 0;
}

.likeBtn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.comments {
  font-size: 14px;
  margin: 8px 0;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  border-top: 1px solid #ddd;
  outline: none;
  }
